<!-- ======================================= -->
<!--                 SCRIPTS                 -->
<!-- ======================================= -->

<script src="./assets/js/swiper-bundle.min.js" type="text/javascript"></script>
<script src="./assets/js/swiper-animation.umd.min.js" type="text/javascript"></script>

<!-- Initialize Swiper -->
<script>
  const swiperAnimation = new SwiperAnimation();
  var swiper = new Swiper(".swiper-container", {
    spaceBetween: 30,
    centeredSlides: true,
    loop: true,
    effect: 'fade',
    fadeEffect: {
      crossFade: true
    },
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    on: {
      init: function () {
        swiperAnimation.init(this).animate();
      },
      slideChange: function () {
        swiperAnimation.init(this).animate();
      }
    }
  });
</script>