<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:wght@700&family=Josefin+Slab:wght@400&family=Josefin+Slab:ital,wght@400">
  <link href="./assets/css/swiper-bundle.min.css" rel="stylesheet">
  <link href="./assets/css/animate.min.css" rel="stylesheet">
  <link href="./assets/css/styles.css" rel="stylesheet">
  <title>Swiper test...</title>
</head>
<body class="">
  <%- body %>
</body>
</html>