.btn-more {
  color: $ttdgray;
  background-color: $ttgreen;
  border: solid #c0c0c0 1px;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  &:hover {
    color: white;
    background-color: $ttdgreen;
  }
}

.btn-french {
  color: white;
  background-color: $ttfrench;
  border: solid #c0c0c0 1px;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  &:hover {
    color: $ttdgray;
    background-color: $ttlgreen;
  }
}

.btn-donate {
  color: white;
  background-color: $ttdonate;
  border: solid #c0c0c0 1px;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  &:hover {
    color: $ttdgray;
    background-color: $ttlgreen;
  }
}