header {  
  font-family: 'Josephin sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: calc(100% - 2rem);
  height: 13vh;
  margin: 1vh auto;
  padding: 1vh 2vh;
  background-color: white;
  border: solid #c0c0c0 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}