.swiper {
  width: calc(100% - 2rem);
  height: 85vh;
  border-radius: 5px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-items: center;
  align-content: center;
}

.slide-content {
  background-color: rgba(000, 000, 000, 0.1);
  margin: auto auto;
  text-align: center;
  width: 700px;
  color: white;
  padding: 2rem;
}

.slide-content h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 4rem;
}

.slide-content p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}

div.swiper-button-prev,div.swiper-button-next {
  color: white;
}

span.swiper-pagination-bullet {
  background-color: white;
}