// VARIABLES

// Fonts

$jsans: "josephin sans, sans-serif";
$jslab: "josephin slab, serif";

// Colours

$ttlgreen: #D3DEAA;
$ttgreen: #B5C76F;
$ttdgreen: #5A6337;
$ttdonate: #F0501B;
$ttfrench: #1E3A8A;
$ttoffwhite: #F9FAFB;
$ttdgray: #303030;

// ANIMATIONS

// @include animation: k_splash_text 3s ease;
@keyframes k_splash_text {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

// MIXINS

// @include m_splash_text;
@mixin m_splash_text {
  animation: k_splash_text 3s ease;
}

// @include m_text_shadow;
@mixin m_text_shadow {
  text-shadow: 1px 3px 3px rgba($color: #000, $alpha: 0.5);
}