<!-- ======================================= -->
<!--                  HEADER                 -->
<!-- ======================================= -->

<header>
    <svg viewBox="0 0 2262 626" height="11vh" fill="#B5C76F"><path d="M1057.28 344c3.18 23.61 10.9 52.1 30.72 67.1 19.01 14.39 53.53 15.35 70.91-2.19 7.78-7.85 11.96-21 12.09-31.91.12-10.21.1-16.91-2.48-27-5.18-20.27-18.59-35-33.52-48.91l-79-63.69c-20.86-16.68-35.3-26.77-49.55-50.4-28.22-46.78-28.17-120.37 14.55-158.83 11.55-10.4 24.33-17.32 39-22.17 10.16-3.36 23.3-5.98 34-6h26c7.2.09 20.86 2.39 28 4.13 40.45 9.87 66.69 33.08 81.8 71.87 3.95 10.15 6.75 23.16 8.11 34 .26 2.73 1.61 9.3 0 11.44-1.63 2.35-13.6 4.6-16.91 5.43L1171 139c-.08-26.17-11.22-62.39-35-76.13-8.15-4.7-14.82-6.05-24-7.03-20.08-2.15-39.58 3.67-50.12 22.16-8.08 14.16-7.87 31.58-4.23 47 7.88 33.28 40.18 53.47 65.35 73.6 23.32 18.65 56.52 42.94 75.83 64.4 22.38 24.87 39.77 62.1 40.17 96 .33 28.33-2.14 53.5-19.9 77-20.63 27.29-50.98 38.77-84.1 41.09l-10 .91c-27.58.32-57.66-4.87-81-20.36-27.25-18.08-44.64-50.24-51.58-81.64l-4.14-25c-.64-5.4.2-5.9-1.28-12l35-9.37 33-7.63 2.28 22ZM235 4v52c-.02 8.64-.36 8.98-9 9h-75v408H83V65H0V4h235Zm30.21 431 15.21-71 53.93-251 18-84L356 12l2.58-6.98L366 4h60l9 44 20.79 97 48.42 226L526 473h-60l-7.27-.99L454.2 455l-11.8-57-16.4-79-18.58-90-10.02-49-6.4-28-5.4 29-11.39 55-33.61 163-11.6 56-4.58 16.98L317 473h-60l8.21-38ZM657 4v418h117v51H589V4h68Zm245 0v469h-68V4h68Zm497 0 7.26.99 4.66 19.01 11.28 61 31.6 171 12.62 68 5.58 33h2l6.2-36 10.38-56 33.22-180 11.4-61 4.54-19.01L1547 4h85v469h-68V152c0-8.28.89-30.33-1-37l-4.58 28-10 55-32.84 182-10.19 56-6.39 37h-52l-11.58-66-23-127-19-105-11.42-61v359h-68V4h85Zm314 429 17.58-82 51.21-239 17.79-83 3.62-17 2.53-7.01L1813 4h60l20.79 98 51.63 241 18 84 9.58 46h-68l-4-20-9.79-47L1863 269l-15.79-76-9.21-40-4.79 26-9.41 46-33.01 160-12.19 59-5.6 29h-68l8-40ZM2079 4l14.2 36 30.4 75 50.98 126 20.42 50V4h67v469h-40l-7.49-1.02-7.56-16.98-20.76-54-60.77-158-19.61-51-10.81-27v308h-68V4h52ZM337 504v9h-36v113h-10V513h-37v-9h83Zm205 0v56h62v-56h10v122h-10v-57h-62v57h-11V504h11Zm355 0v9h-65v47h55v9h-55v48h56c8.67.02 8.97.36 9 9h-75V504h75Zm192.31 93 23.5-64 7.77-21c1.4-3.7 1.96-7.18 6.46-7.85 6.77-1.01 7.5 3.71 9.3 8.85l7 19 19.61 53 15.05 41c-3.11 0-8.98.61-11.3-1.6-3.76-3.56-7.1-23.48-11.92-26.38-1.89-1.13-4.64-1-6.78-1.02h-39c-2.21 0-5.71-.22-7.58 1.02-4.12 2.73-8.19 24.07-12.12 26.99-1.9 1.41-7.82.99-10.3.99l10.31-29ZM1428 504v9h-36v113h-11V513h-36v-9h83Zm241 0c8.08.01 15.22.95 22 5.79 11.06 7.89 13.15 16.44 13 29.21-.19 16.29-10.87 28.47-27 31l28 56c-2.7 0-9.27.47-11.37-.99-2.06-1.45-5.57-9.4-6.88-12.01l-13.5-26c-2.01-4.02-6.49-14.69-10.46-16.4-1.68-.72-4.91-.6-6.79-.6h-24v56h-10V504h47Zm303 0v9h-64v47h55v9h-55v48h64v9h-74V504h74Zm-305 57c7.65-.01 13.99-.83 19.96-6.21 9.96-8.99 9.4-27.92-1-36.4-4.89-3.99-11.81-5.31-17.96-5.39h-36v48h35Zm-547.67-18L1104 588h49l-24-69c-3.6 4.17-7.7 18.16-9.67 24Z"/></svg>
  <nav>
    <%- include ('../../components/en/btn-donate.ejs') %>
    <%- include ('../../components/en/btn-french.ejs') %>
    <%- include ('../../components/en/btn-menu.ejs') %>
  </nav>
</header>