<!-- ======================================= -->
<!--                  SWIPER                 -->
<!-- ======================================= -->

<div class="swiper swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url(./assets/img/g01_2009-rpjk_1629.jpg);">
      <article class="slide-content"
      data-swiper-animation="animate__fadeInUp"
      data-delay=".5s"
      data-duration="1.5s">
        <h1>TALISMAN THEATRE</h1>
        <p>Sequi, aliquid? Obcaecati eos, molestiae atque necessitatibus recusandae optio quibusdam consequuntur maiores officiis labore.</p>
      </article>
    </div>
    <div class="swiper-slide" style="background-image: url(./assets/img/g01_2011-cu_3340b.jpg);">
      <article class="slide-content"
      data-swiper-animation="animate__fadeInUp"
      data-delay=".5s"
      data-duration="1.5s">
          <h1>TALISMAN THEATRE</h1>
        <p>Sequi, aliquid? Obcaecati eos, molestiae atque necessitatibus recusandae optio quibusdam consequuntur maiores officiis labore.</p>
      </article>
    </div>
    <div class="swiper-slide" style="background-image: url(./assets/img/g01_2012-tme1_12.jpg);">
      <article class="slide-content"
      data-swiper-animation="animate__fadeInUp"
      data-delay=".5s"
      data-duration="1.5s">
          <h1>TALISMAN THEATRE</h1>
          <p>Sequi, aliquid? Obcaecati eos, molestiae atque necessitatibus recusandae optio quibusdam consequuntur maiores officiis labore.</p>
      </article>
    </div>
    <div class="swiper-slide" style="background-image: url(./assets/img/g01_2014-Billy-5973.jpg);">
      <article class="slide-content"
      data-swiper-animation="animate__fadeInUp"
      data-delay=".5s"
      data-duration="1.5s">
          <h1>TALISMAN THEATRE</h1>
          <p>Sequi, aliquid? Obcaecati eos, molestiae atque necessitatibus recusandae optio quibusdam consequuntur maiores officiis labore.</p>
      </article>
    </div>
    <div class="swiper-slide" style="background-image: url(./assets/img/g01_2015-province-6190.jpg);">
      <article class="slide-content"
      data-swiper-animation="animate__fadeInUp"
      data-delay=".5s"
      data-duration="1.5s">
          <h1>TALISMAN THEATRE</h1>
          <p>Sequi, aliquid? Obcaecati eos, molestiae atque necessitatibus recusandae optio quibusdam consequuntur maiores officiis labore.</p>
      </article>
    </div>
    <div class="swiper-slide" style="background-image: url(./assets/img/g01_2016-my-8127.jpg);">
      <article class="slide-content"
      data-swiper-animation="animate__fadeInUp"
      data-delay=".5s"
      data-duration="1.5s">
          <h1>TALISMAN THEATRE</h1>
          <p>Sequi, aliquid? Obcaecati eos, molestiae atque necessitatibus recusandae optio quibusdam consequuntur maiores officiis labore.</p>
      </article>
    </div>
    <div class="swiper-slide" style="background-image: url(./assets/img/g01_2016-yukonstyle-0265.jpg);">
      <article class="slide-content"
      data-swiper-animation="animate__fadeInUp"
      data-delay=".5s"
      data-duration="1.5s">
          <h1>TALISMAN THEATRE</h1>
          <p>Sequi, aliquid? Obcaecati eos, molestiae atque necessitatibus recusandae optio quibusdam consequuntur maiores officiis labore.</p>
      </article>
    </div>
    <div class="swiper-slide" style="background-image: url(./assets/img/g01_2018-cs-3274.jpg);">
      <article class="slide-content"
      data-swiper-animation="animate__fadeInUp"
      data-delay=".5s"
      data-duration="1.5s">
          <h1>TALISMAN THEATRE</h1>
          <p>Sequi, aliquid? Obcaecati eos, molestiae atque necessitatibus recusandae optio quibusdam consequuntur maiores officiis labore.</p>
      </article>
    </div>
    <div class="swiper-slide" style="background-image: url(./assets/img/g01_2018-cs-3974.jpg);">
      <article class="slide-content"
      data-swiper-animation="animate__fadeInUp"
      data-delay=".5s"
      data-duration="1.5s">
          <h1>TALISMAN THEATRE</h1>
          <p>Sequi, aliquid? Obcaecati eos, molestiae atque necessitatibus recusandae optio quibusdam consequuntur maiores officiis labore.</p>
      </article>
    </div>
  </div>
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-pagination swiper-pagination-white"></div>
</div>